/* https://css-tricks.com/centering-css-complete-guide/ */
/* Center image on screen. */
.centerOnScreen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}